# Ignore all .pyc files and __pycache__ folders
__pycache__/
*.pyc

# Ignore notebook checkpoints
.ipynb_checkpoints

# Ignore data outputs
output/
data/*.zip
*.csv
*.xlsx

# Ignore environment files
.env
.DS_Store
